# ─────────────────────────────────────────
# Git
# ─────────────────────────────────────────
.git
.gitignore

# ─────────────────────────────────────────
# Python
# ─────────────────────────────────────────
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
.pytest_cache
.mypy_cache
.ruff_cache

# ─────────────────────────────────────────
# Виртуальное окружение
# ─────────────────────────────────────────
.venv
venv
env

# ─────────────────────────────────────────
# Django
# ─────────────────────────────────────────
staticfiles
media
db.sqlite3

# ─────────────────────────────────────────
# Переменные окружения
# ─────────────────────────────────────────
.env
.env.*
!.env.example

# ─────────────────────────────────────────
# VS Code
# ─────────────────────────────────────────
.vscode

# ─────────────────────────────────────────
# Docker
# ─────────────────────────────────────────
docker-compose.override.yml

# ─────────────────────────────────────────
# OS
# ─────────────────────────────────────────
.DS_Store
Thumbs.db
