
# === Django conf ===
SECRET_KEY = 'super-secret-pass'
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DEBUG=True

# === Bd settings ===
FLAG_FOR_CREATING_POSTGRES_DATABASE=True
SQL_ENGINE=django.db.backends.postgresql

# === PostgreSQL settings ===
DATABASE_URL=postgres://user:password@localhost( or "db" for docker):5432/mydb

# === Addition ===
ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com,localhost,127.0.0.1,0.0.0.0,172.19.0.5
TIME_ZONE=
LANGUAGE_CODE=
