
# === Django conf ===
SECRET_KEY=
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DEBUG=True

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=admin

# === Bd settings ===
FLAG_FOR_CREATING_POSTGRES_DATABASE=True
SQL_ENGINE=django.db.backends.postgresql

# === PostgreSQL settings ===

DB_NAME=
DB_USER=
DB_PASSWORD=

DATABASE_URL=postgres://(user):(pass)@(host):(port)/(name)

# === Addition ===
ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com,localhost,127.0.0.1,0.0.0.0,172.19.0.5
TIME_ZONE=Europe/Berlin
LANGUAGE_CODE=
